---
title: "up cmd"
date: 2020-06-25T22:32:46+11:00
draft: false
---

# UPcmd [github source](https://github.com/upcmd/up)

* [release](https://github.com/upcmd/up/releases)

## User Manual

{{ .charpter_file|fileContent}}